* {
  box-sizing: border-box;
}

.gallery {
  gap: 24px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}